body{
    background-image: url(../assets/academia.jpg);
}

.card-transparent{
    width: 600px;
    height: 600px;
    backdrop-filter: blur(46px);
    border-radius: 25px;  
    margin: auto;  
    margin-top: 150px;
}

